IDI_ICON1 ICON DISCARDABLE "isoberry.ico"
1 VERSIONINFO
 FILEVERSION 0,0,1,0
 PRODUCTVERSION 0,0,1,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "Comments", "Isometric Online Game"
            VALUE "CompanyName", "Some Game Company Inc."
            VALUE "FileDescription", "MMORPG to play with friends."
            VALUE "FileVersion", "0, 0, 1, 0"
            VALUE "InternalName", "Isoberry"
            VALUE "LegalCopyright", "2021 Matthew Periut"
            VALUE "OriginalFilename", "Isoberry.exe"
            VALUE "ProductName", "Isoberry"
            VALUE "ProductVersion", "0, 0, 1, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END